@import "variables";

@font-face {
  font-family: 'RestaurantPress';
  src:  url('#{$icomoon-font-path}/RestaurantPress.eot?hhbzlt');
  src:  url('#{$icomoon-font-path}/RestaurantPress.eot?hhbzlt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/RestaurantPress.ttf?hhbzlt') format('truetype'),
    url('#{$icomoon-font-path}/RestaurantPress.woff?hhbzlt') format('woff'),
    url('#{$icomoon-font-path}/RestaurantPress.svg?hhbzlt#RestaurantPress') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rpicon-"], [class*=" rpicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RestaurantPress' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rpicon-logo {
  &:before {
    content: $rpicon-logo;
  }
}
.rpicon-dinner {
  &:before {
    content: $rpicon-dinner;
  }
}
.rpicon-chef {
  &:before {
    content: $rpicon-chef;
  }
}
.rpicon-enabled {
  &:before {
    content: $rpicon-enabled;
  }
}
.rpicon-disabled {
  &:before {
    content: $rpicon-disabled;
  }
}
.rpicon-error {
  &:before {
    content: $rpicon-error;
  }
}
.rpicon-right {
  &:before {
    content: $rpicon-right;
  }
}
.rpicon-note {
  &:before {
    content: $rpicon-note;
  }
}
.rpicon-confirmed {
  &:before {
    content: $rpicon-confirmed;
  }
}
.rpicon-user {
  &:before {
    content: $rpicon-user;
  }
}
.rpicon-windows {
  &:before {
    content: $rpicon-windows;
  }
}
.rpicon-status-pending {
  &:before {
    content: $rpicon-status-pending;
  }
}
.rpicon-status-confirmed {
  &:before {
    content: $rpicon-status-confirmed;
  }
}

