$icomoon-font-path: "fonts" !default;

$rpicon-logo: "\e001";
$rpicon-dinner: "\e002";
$rpicon-chef: "\e003";
$rpicon-status-pending: "\e004";
$rpicon-status-confirmed: "\e005";
$rpicon-confirmed: "\e006";
$rpicon-status-check-in: "\e007";
$rpicon-status-closed: "\e008";
$rpicon-error: "\e009";
$rpicon-user: "\e00a";
$rpicon-note: "\e00b";
$rpicon-windows: "\e00c";

