$rpicon-logo: "\e001";
$rpicon-dinner: "\e002";
$rpicon-layout: "\e003";
$rpicon-group: "\e004";
$rpicon-contract: "\e005";
$rpicon-expand: "\e006";
$rpicon-right: "\e007";
$rpicon-left: "\e008";
$rpicon-close: "\e009";
$rpicon-help: "\e00a";
$rpicon-image: "\e00b";
$rpicon-chef: "\e00c";
