$icomoon-font-path: "fonts" !default;

$rpicon-logo: "\e001";
$rpicon-dinner: "\e002";
$rpicon-chef: "\e003";
$rpicon-close: "\e004";
$rpicon-contract: "\e005";
$rpicon-expand: "\e006";
$rpicon-right: "\e007";
$rpicon-left: "\e008";

